@using MoreSuperManager.MODEL
@model MoreSuperManager.MODEL.DBLinkFriendTypeModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutPage.cshtml";
}

<div class="operater">
    <form id="submitForm" action="@Url.Action(Model != null ? "EditOperater" : "AddOperater", new { identityID = (Model != null ? Model.IdentityID : 0) })" class="form-horizontal" method="post">
        @Html.AntiForgeryToken()
        @if (ViewBag.ChannelList != null && ViewBag.ChannelList.Count > 0)
        {
            <div class="form-group">
                <label class="col-xs-2 control-label form-label">所属频道：</label>
                <div class="col-xs-10 form-cell">
                    <select class="form-control" style="width:200px;" name="channelCode">
                        @foreach (DBChannelModel modelItem in ViewBag.ChannelList)
                        {
                            <option value="@modelItem.ChannelCode" @(Html.Raw(Model != null && Model.ChannelCode == modelItem.ChannelCode ? "selected=\"selected\"" : ""))>@Html.Raw(Server.HtmlEncode(modelItem.ChannelName))</option>
                        }
                    </select>
                </div>
            </div>
        }
        <div class="form-group">
            <label class="col-xs-2 control-label form-label">类别名称：</label>
            <div class="col-xs-10 form-cell">
                <input class="form-control" style="width:200px;" type="text" name="typeName" value="@Html.Raw(Server.HtmlEncode(Model != null ? Model.TypeName : ""))" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label form-label">类别排序：</label>
            <div class="col-xs-10 form-cell">
                <input class="form-control" style="width:100px;" type="text" name="typeSort" value="@(Model != null ? Model.TypeSort : 0)" />
            </div>
        </div>
        <div class="form-group">
            <span style="padding-left:100px;">
                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-saved" style="font-size:12px;padding-right : 10px;"></i>保存</button>
                <a class="btn btn-warning" style="margin-left:10px;" href="@Url.Action("List")"><i class="glyphicon glyphicon-share-alt" style="padding-right:10px;"></i>返回管理页面</a>
                <span id="errorNote" style="margin-left:10px;"></span>
            </span>
        </div>
    </form>
</div>
