@using Helper.Core.Library
@using MoreSuperManager.MODEL
@using MoreSuperManager.ENUM
@model List<DBUserLogModel>
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutPage.cshtml";
}


<div>
    <div class="search">
        <form action="@Url.Action("List")" class="form-horizontal" method="post">
            <div class="pull-left" style="padding:0px;">
                <button type="button" id="toolbarDelete" class="btn btn-danger"><i class="glyphicon glyphicon-trash" style="font-size:12px;padding-right : 10px;"></i>删除</button>
            </div>
            <div class="input-group pull-right" style="padding:0px;width:500px;">
                <input type="text" id="searchKey" name="searchKey" value="@ViewData["SearchKey"]" class="form-control" placeholder="输入关键字进行搜索！" />
                <span class="input-group-btn" style="width : 135px;">
                    <select class="form-control" name="loginStatus">
                        <option value="-1" selected>选择登录状态</option>
                        @if (ViewBag.StatusTypeList != null && ViewBag.StatusTypeList.Count > 0)
                        {
                            foreach (DBKeyValueModel modelItem in ViewBag.StatusTypeList)
                            {
                                <option value="@modelItem.Key" @Html.Raw((ViewData["LoginStatus"] != null && ViewData["LoginStatus"].ToString() == modelItem.Key.ToString()) ? "selected=\"selected\"" : "")>@Html.Raw(Server.HtmlEncode(modelItem.Value))</option>
                            }
                        }
                    </select>
                </span>
                <span class="input-group-btn">
                    <button class="btn btn-primary" style="width:80px;" type="submit"><span class="glyphicon glyphicon-search"></span><i style="margin-left:10px;font-style:normal;">搜索</i></button>
                </span>
            </div>
        </form>
    </div>
    <div class="list">
        <form action="@Url.Action("MoreOperater")" class="form-horizontal" method="post" id="operaterForm">
            <div class="panel panel-default">
                <table id="tableList" class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="first">
                                <input type="checkbox" style="margin-top:0px;margin-bottom:0px;" id="checkAllOrNoTop" />
                            </th>
                            <th>用户名</th>
                            <th>登录 IP</th>
                            <th>登录时间</th>
                            <th>状态</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (DBUserLogModel modelItem in Model)
                            {
                                <tr id="@modelItem.IdentityID">
                                    <td class="first">
                                        <input type="checkbox" name="identityIDList" value="@modelItem.IdentityID" />
                                    </td>
                                    <td>@Html.Raw(Server.HtmlEncode(modelItem.UserCode))</td>
                                    <td>@modelItem.LoginIP</td>
                                    <td>@modelItem.LoginDate.ToString("yyyy-MM-dd hh:mm:ss")</td>
                                    <td>@(modelItem.LoginStatus == MoreSuperManager.ENUM.LoginStatusTypeEnum.FAILED ? "失败" : "成功")</td>
                                    <td>
                                        <a data-id="@modelItem.IdentityID" class="operater-delete"><i class="glyphicon glyphicon-trash list-oper-button"></i>删除</a>
                                    </td>
                                </tr>
                            }
                            @Html.Partial("~/Areas/Manager/Views/Shared/_ListOperaterData.cshtml", new ViewListOperaterModel() { DataCount = 5, OperaterList = new string[] { OperaterTypeEnum.DELETE } })
                        }
                        else
                        {
                            @Html.Partial("~/Areas/Manager/Views/Shared/_ListNoData.cshtml", 6)
                        }
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>

<div style="display:none;">
    <input type="hidden" id="operaterDeleteUrl" value="@Url.Action("DeleteOperater", new { identityID = -1 })" />
</div>

