@model MoreSuperManager.MODEL.DBVoteTypeModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutPage.cshtml";
}

<div class="operater">
    <form action="@Url.Action("SetOperater")" class="form-horizontal" method="post">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label class="col-xs-2 control-label form-label">备份时间：</label>
            <div class="col-xs-10 form-inline form-cell">
                <input class="form-control" style="width:400px;" type="text" name="bakCron" value="@Html.Raw(Server.HtmlEncode(SettingHelper.BakCron))" />
                <a class="btn btn-primary" style="margin-left:10px;" href="@Url.Action("Bak")">备份</a>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label form-label">备份路径：</label>
            <div class="col-xs-10 form-cell">
                <input class="form-control" style="width:400px;" type="text" name="bakPath" value="@Html.Raw(Server.HtmlEncode(SettingHelper.BakPath))" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label form-label">后台版本：</label>
            <div class="col-xs-10 form-cell">
                <input class="form-control" style="width:400px;" type="text" name="version" value="@Html.Raw(Server.HtmlEncode(SettingHelper.Version))" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label form-label">后台标题：</label>
            <div class="col-xs-10 form-cell">
                <input class="form-control" style="width:400px;" type="text" name="managerTitle" value="@Html.Raw(Server.HtmlEncode(SettingHelper.ManagerTitle))" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label form-label">分页大小：</label>
            <div class="col-xs-10 form-cell">
                <input class="form-control" style="width:100px;" type="text" name="managerPageSize" value="@SettingHelper.ManagerPageSize" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label form-label">图片格式：</label>
            <div class="col-xs-10 form-cell form-inline">
                <input class="form-control" style="width:400px;" type="text" name="uploadImageExt" value="@SettingHelper.UploadImageExt" /><span style="padding-left:10px;color:#999999;">例：.jpg|.gif|.png，以 | 分隔符分隔。</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label form-label">图片大小：</label>
            <div class="col-xs-10 form-cell form-inline">
                <input class="form-control" style="width:100px;" type="text" name="uploadImageMaxSize" value="@SettingHelper.UploadImageMaxSize" /><span style="padding-left:10px;color:#999999;">以字节为单位，1M=1048576 字节。</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label form-label">视频格式：</label>
            <div class="col-xs-10 form-cell form-inline">
                <input class="form-control" style="width:400px;" type="text" name="uploadVideoExt" value="@SettingHelper.UploadVideoExt" /><span style="padding-left:10px;color:#999999;">例：.mp4|.rmvb，以 | 分隔符分隔。</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label form-label">视频大小：</label>
            <div class="col-xs-10 form-cell form-inline">
                <input class="form-control" style="width:100px;" type="text" name="uploadVideoMaxSize" value="@SettingHelper.UploadVideoMaxSize" /><span style="padding-left:10px;color:#999999;">以字节为单位，1M=1048576 字节。</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label form-label">文件格式：</label>
            <div class="col-xs-10 form-cell form-inline">
                <input class="form-control" style="width:400px;" type="text" name="uploadFileExt" value="@SettingHelper.UploadFileExt" /><span style="padding-left:10px;color:#999999;">例：.rar|.zip|.doc，以 | 分隔符分隔。</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label form-label">文件大小：</label>
            <div class="col-xs-10 form-cell form-inline">
                <input class="form-control" style="width:100px;" type="text" name="uploadFileMaxSize" value="@SettingHelper.UploadFileMaxSize" /><span style="padding-left:10px;color:#999999;">以字节为单位，1M=1048576 字节。</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label form-label">&nbsp;</label>
            <div class="col-xs-10 checkbox-inline forbidden-text-select">
                <label class="form-checkbox-label"><input type="checkbox" name="logOpenStatus" value="@(SettingHelper.LogOpenStatus ? "1" : "0")" @Html.Raw(SettingHelper.LogOpenStatus ? "checked=\"checked\"" : "") />是否开启日志记录</label>
                <label class="form-checkbox-label"><input type="checkbox" name="authOpenStatus" value="@(SettingHelper.AuthOpenStatus ? "1" : "0")" @Html.Raw(SettingHelper.AuthOpenStatus ? "checked=\"checked\"" : "") />是否开启权限认证</label>
                <label class="form-checkbox-label"><input type="checkbox" name="attachOpenStatus" value="@(SettingHelper.AttachOpenStatus ? "1" : "0")" @Html.Raw(SettingHelper.AttachOpenStatus ? "checked=\"checked\"" : "") />是否开启开发者工具</label>
            </div>
        </div>
        <div class="form-group">
            <span style="padding-left:100px;">
                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-saved" style="font-size:12px;padding-right : 10px;"></i>保存配置</button>
            </span>
        </div>
    </form>
</div>


