@model MoreSuperManager.MODEL.DBUserModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutPage.cshtml";
}

<div class="operater">
    <form action="@Url.Action(Model != null ? "EditOperater" : "AddOperater", new { identityID = (Model != null ? Model.IdentityID : 0) })" class="form-horizontal" method="post">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label class="col-xs-2 control-label form-label">用&nbsp;&nbsp;户&nbsp;&nbsp;名：</label>
            <div class="col-xs-10 form-cell">
                <input class="form-control" style="width:200px;" type="text" name="userCode" value="@Html.Raw(Server.HtmlEncode(Model != null ? Model.UserCode : ""))" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label form-label">用户昵称：</label>
            <div class="col-xs-10 form-cell">
                <input class="form-control" style="width:200px;" type="text" name="nickName" value="@(Model != null ? Model.NickName : "")" />
            </div>
        </div>
        @if (Model == null || Model.IdentityID == 0)
        { 
        <div class="form-group">
            <label class="col-xs-2 control-label form-label">用户密码：</label>
            <div class="col-xs-10 form-cell">
                <input class="form-control" style="width:200px;" type="text" name="userPassword" value="" />
            </div>
        </div>
        }
        <div class="form-group">
            <label class="col-xs-2 control-label form-label">用户类别：</label>
            <div class="col-xs-10 form-cell">
                <select class="form-control" style="width:200px;" name="roleID">
                    @if (ViewBag.RoleList != null && ViewBag.RoleList.Count > 0)
                    {
                        foreach (MoreSuperManager.MODEL.DBRoleModel modelItem in ViewBag.RoleList)
                        {
                            <option value="@modelItem.IdentityID" @(Html.Raw(Model != null && Model.RoleID == modelItem.IdentityID ? "selected=\"selected\"" : ""))>@Html.Raw(Server.HtmlEncode(modelItem.RoleName))</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <span style="padding-left:100px;">
                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-saved" style="font-size:12px;padding-right : 10px;"></i>保存</button>
                <a class="btn btn-warning" style="margin-left:10px;" href="@Url.Action("List")"><i class="glyphicon glyphicon-share-alt" style="padding-right:10px;"></i>返回管理页面</a>
            </span>
        </div>
    </form>
</div>


