@using MoreSuperManager.MODEL
@using MoreSuperManager.ENUM
@using Helper.Core.Library
@model List<DBActionTypeModel>

@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutPage.cshtml";
}

<div>
    <div class="search">
        <form action="@Url.Action("List")" class="form-horizontal" method="get">
            <div class="pull-left" style="padding:0px;">
                <button type="button" id="toolbarAdd" style="margin-right:5px;" class="btn btn-info"><i class="glyphicon glyphicon-plus" style="font-size:12px;padding-right : 10px;"></i>添加</button>
                <button type="button" id="toolbarDelete" class="btn btn-danger"><i class="glyphicon glyphicon-trash" style="font-size:12px;padding-right : 10px;"></i>删除</button>
            </div>
            <div class="input-group pull-right" style="padding:0px;width:400px;">
                <input type="text" id="searchKey" name="searchKey" value="@ViewData["SearchKey"]" class="form-control" placeholder="输入关键字进行搜索！" />
                <span class="input-group-btn">
                    <button class="btn btn-primary" style="width:80px;" type="submit"><span class="glyphicon glyphicon-search"></span><i style="margin-left:10px;font-style:normal;">搜索</i></button>
                </span>
            </div>
        </form>
    </div>
    <div class="list forbidden-text-select">
        <form action="@Url.Action("MoreOperater")" method="post" class="form-inline" id="operaterForm">
            <div class="panel panel-default">
                <table id="tableList" class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="first">
                                <input type="checkbox" style="margin-top:0px;margin-bottom:0px;" id="checkAllOrNoTop" />
                            </th>
                            <th>动作编号</th>
                            <th>动作名称</th>
                            <th>排序</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (DBActionTypeModel modelItem in Model)
                            {
                                <tr id="@modelItem.IdentityID">
                                    <td class="first">
                                        <input type="checkbox" name="identityIDList" value="@modelItem.IdentityID" />
                                    </td>
                                    <td>@Html.Raw(Server.HtmlEncode(modelItem.TypeCode))</td>
                                    <td>@Html.Raw(Server.HtmlEncode(modelItem.TypeName))</td>
                                    <td>@modelItem.TypeSort</td>
                                    <td>
                                        <a data-id="@modelItem.IdentityID" class="operater-edit"><i class="glyphicon glyphicon-edit list-oper-button"></i>编辑</a>
                                        <a data-id="@modelItem.IdentityID" class="operater-delete"><i class="glyphicon glyphicon-trash list-oper-pad-button"></i>删除</a>
                                    </td>
                                </tr>
                            }
                            @Html.Partial("~/Areas/Manager/Views/Shared/_ListOperaterData.cshtml", new ViewListOperaterModel() { DataCount = 4, OperaterList = new string[] { OperaterTypeEnum.DELETE } })
                        }
                        else
                        {
                            @Html.Partial("~/Areas/Manager/Views/Shared/_ListNoData.cshtml", 5)
                        }
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
<div style="display:none;">
    <input type="hidden" id="operaterAddUrl" value="@Url.Action("Add")" />
    <input type="hidden" id="operaterEditUrl" value="@Url.Action("Edit", new { identityID = -1 })" />
    <input type="hidden" id="operaterDeleteUrl" value="@Url.Action("DeleteOperater", new { identityID = -1 })" />
</div>

